
<%= link_to "Crear Actor", new_actor_path, class: "btn btn-dark" %>
<% @actors.each do |actor| %>

  <div>
    <img src=<%= actor.image_url %> alt="<%= actor.name %>">
    <h3><%= actor.name %></h3>
    <p><%= actor.bio %></p>
    <p><strong>Fecha de Nacimiento:</strong> <%= actor.birth_date %></p>
    <p><strong>Lugar de Nacimiento:</strong> <%= actor.birth_place %></p>
    <% if !actor.alive %>
      <p><strong>Fecha de Fallecimiento: </strong> <%= actor.death_date %></p>
      <p><strong>Lugar de Fallecimiento: </strong> <%= actor.death_place %></p>
    <% end %>
  </div>
<% end %>
